.notification{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background-color: rgb(255, 255, 255);
    padding: .5rem 3rem;
    border-radius: .7rem;
    box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, 0.151);
    display: none;
    color:rgb(0, 255, 0);
    align-items: center;
    animation: haha 2s linear forwards;
    & > i {
        color: rgb(0, 255, 0);
        font-size: 3rem;
        margin-right: 1rem;
    }
}

.active{
    display: flex;
}

@keyframes haha{
    0%{
        transform: translateX(200%);
    }
    20%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(200%);
    }
}
