.info{
    padding: 2rem 1rem;
    display: flex;
    margin: 1rem 9%;
    background-color: rgb(230, 230, 230);
    gap: 2rem;
    &-col-1{
        flex: 1 1 30rem;
        &-item{
            padding-bottom: .5rem;
            & > p{
                color: rgb(112, 112, 112);
                font-size: 1.1rem;
                font-weight: 400;
            }
            & > input {
                width: 100%;
                height: 2.5rem;
                border: none;
                outline: none;
                border-radius: .5rem;
                color: rgb(102, 100, 100);
                font-size: .9rem;
                padding: .7rem;
            }
            & > textarea {
                height: 15rem;
                width: 100%;
                border: none;
                outline: none;
                border-radius: .5rem;
                color: rgb(102, 100, 100);
                font-size: .9rem;
                padding: .7rem;
            }
        }
        & > button{
            margin: 1rem 0;
            border: none;
            background-color: rgb(65, 180, 50);
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: .5rem;
            text-align: right;
            font-weight: 400;
            cursor: pointer;
            font-size: 1.1rem;
            display: inline-block;
            &:hover{
                background-color: rgb(6, 7, 80);
            }
        }
    }
    &-col-2{
        flex: 1 1 30rem;
        &-item{
            padding-bottom: .5rem;
            & > p{
                color: rgb(112, 112, 112);
                font-size: 1.1rem;
                font-weight: 400;
            }
            & > input {
                width: 100%;
                height: 2.5rem;
                border: none;
                outline: none;
                border-radius: .5rem;
                color: rgb(102, 100, 100);
                font-size: .9rem;
                padding: .7rem;
            }
            & .map{
                width: 100%;
                height: 15rem;
                border: 0;
            }
            
        }
        
}
    
}