.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 101vw;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 0 9%;
    display: flex;
    align-items: center;
    box-shadow: 0 .3rem 1rem rgba(228, 228, 228, 0.822);
    justify-content: space-between;
    z-index: 1000;
    &-logo{
        display: flex;
        align-items: center;
        gap: .5rem;
        img{
            height: 2.5rem;
        }
        &-name{
            font-size: 1.5rem;
            font-weight: 600;
            color: rgb(6, 7, 80);
        }
    }

    &-nav{
        display: flex;
        font-size: 1.4rem;
        gap: 3.5rem;
        
        a{
            &:visited{
                color: rgb(6, 7, 80);
            } 
            cursor: pointer;
            &:hover{
                color:rgb(65, 180, 50);
            }
        }
    }

    &-icons{
        display: flex;
        align-items: center;
        gap: .5rem;
        &-container{
            position: relative;
            background-color: rgb(231, 231, 231);
            height: 2.5rem;
            width: 2.5rem;
            cursor: pointer;
            border-radius: .5rem;
            display: grid;
            place-content: center;
            i{
                font-size: 1.5rem;
                color: rgb(6, 7, 80);
            }
            &:hover{
                background-color: rgb(65, 180, 50);
                i{
                    color:rgb(255, 255, 255);
                }
            }
        }
        .humburger{
            display: none;
        }
    }
}

.badge{
    position: absolute;
    background-color:rgba(255, 30, 0, 0.966);
    color:rgb(255, 255, 255);
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    font-size: .9rem;
    font-weight: 600;
    display: grid;
    place-content: center;
    top: -7px;
    right: -7px;

}
.nav{
    background-color: rgb(231, 231, 231);
    position: sticky;
    top: 5rem;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 .3rem 1rem rgba(228, 228, 228, 0.822);
    &-item{
        text-align: center;
        padding: 1rem;
        width: 100%;
        &:hover {
            background-color:rgb(65, 180, 50);
            color: white;
        }
    }
    animation: growDown 300ms linear forwards;
    transform-origin: top center;
    &.active{
        display:flex;
        
    }
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    70% {
        transform: scaleY(1.5)
    }
    100% {
        transform: scaleY(1)
    }
}
@media only screen and (max-width: 1024px){
    .header-nav{
        display: none;
    }
    .header-icons .humburger{
        display: grid;
    }
}