.popular{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 9% 0 9%;
    & > span{
        font-family: 'Satisfy', cursive;
        color: rgb(65, 180, 50);
        font-size: 3rem;
    }
    & > h3{
        font-size: 2.5rem;
        margin: .5rem 0;
        color:rgb(6, 7, 80);
    }
    &-list{
        display: grid;
        width: 100%;
        margin-top: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1rem;
        &-item{
            padding-bottom: 1.5rem;
            background-color: rgba(226, 223, 223, 0.795);
            &-heart{
                text-align: right;
                margin: .3rem .8rem 0 0;
                font-size: 2rem;
                color:rgb(100, 100, 100);
                cursor: pointer;
                &:hover{
                    color:rgb(65, 180, 50)
                }
            }
            &>h3{
                color: rgb(6, 7, 80);
            }
            & > img{
                height: 10rem;
                margin-top: -2rem;
            }
            &-cost{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                color: rgb(6, 7, 80);
                & > h4{
                    text-decoration: line-through;
                    font-weight: 400;
                    color:rgb(100, 100, 100)
                 }
            }
            & > button{
                border: none;
                background-color: rgb(65, 180, 50);
                padding: .5rem 1rem;
                border-radius: .5rem;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                margin-top: .5rem;
                &:hover{
                    background-color:rgb(6, 7, 80)
                }
            }
        }
    }
}